* {
    font-family: 'Nanum Gothic', sans-serif;
}

h1 {
    font-size: 60px;
    margin: 0;
}

body {
    margin: 0;
    /* background-color: rgb(21, 32, 43); */
    background-color: rgb(13, 22, 32);
    color: #EFEFEF;
}

.header {
    position: sticky;
    height: 40px;
    top: 0;
    /* background-image: linear-gradient(rgb(47, 61, 92), transparent); */
    background-image: linear-gradient(to bottom, rgba(47, 61, 92, 1), rgba(13, 22, 32, 0.3));
    /* opacity: 0.5; */
    padding: 20px;
    padding-top: 50px;
}

.hamburger {
    position: absolute;
}

.header_text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
}

.form {
    position: sticky;
    top: 140px;
    height: fit-content;
    width: 30%;
    display: flex;
    background-color: rgb(30, 39, 50);
    box-shadow: 0 6px 6px 0 rgb(0 0 0 / 16%);
    border-radius: 10px;
}

.cards {
    width: 70%;
}

.inputs {
    padding: 40px;
}

.inputs > div {
    padding: 2px 0px;
}

.username_input, .rank_input {
    display: flex;
}

.username_input label, .rank_input label {
    width: 135px;
}

.username_input input, .rank_input select {
    width: calc(100% - 135px);
    padding: 0;
    box-sizing: unset;
    border-width: 1px;
}

.agent_input, .skin_input {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
}

.agent_input label, .skin_input label {
    width: 100%;
}

.agent_input > div, .skin_input > div {
    width: 33%;
}

#playstyle {
    width: 100%;
}

.card {
    margin: 50px;
    background-color: rgb(30, 39, 50);
    box-shadow: 0 6px 6px 0 rgb(0 0 0 / 16%);
    border-radius: 10px;
    display: flex;
    padding: 30px 15px;
}

.card:hover {
    background-color: rgb(55, 70, 90);
    box-shadow: 0 10px 10px 0 rgb(0 0 0 / 16%);
    /* margin: 30px; */
    /* width: 90%; */
    transform: scale(1.05);
    transition: .2s transform ease-in;
}

.card:hover .agent_icon {
    filter: drop-shadow(6px 6px 6px #b3764d)
}

.card:first-child {
    margin-top: 30px;
}

.agent_icon_wrapper {
    display: flex;
    align-items: center;
}

.card_text_wrapper {
    width: calc(100% - 300px);
    padding: 0px 20px;
}

.rank_icon_wrapper {
    width: 100px;
}

.card_username_wrapper {
    text-align: center;
}

.card_username_wrapper h3, .header {
    margin-top: 0;
    color: #b3764d;
}

.card_fav_skins_wrapper {
    display: flex;
}

.card_fav_skins_wrapper p, .card_fav_skins_wrapper h4 {
    margin: 0;
}

.card_fav_skins_title {
    margin-right: 5px;
}

.card_playstyle_wrapper p, .card_playstyle_wrapper h4 {
    margin: 0;
}

.agent_icon {
    width: 200px;
}

.rank_icon {
    width: 100px;
}